<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdcms.profile -->
      <package
            uri="http://www.fing.edu.uy/mdcms"
            class="mdcms.MdcmsPackage"
            genModel="mdcms.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://mdcms/"
            target="platform:/plugin/mdcms/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="MDCMS"
            path="pathmap://mdcms/mdcms.profile.uml">
      </profile>
   </extension>

</plugin>
